* {
  transition-duration: 300ms;
  scroll-behavior: smooth;
}

.break-words {
  word-break: break-word;
}

.colored-button button {
  background: #ee8700 !important;
}

dialog {
  /* transition-duration 300ms break qwikui modal */
  transition-duration: unset;
}
